body {
  padding: 20px;
  background-color: rgb(157, 127, 254);
  font-family: "Didact Gothic";
  font-size: 10px;
}

header {
  background-color: rgb(99, 57, 157);
  border: 3px;
  text-align: center;
  padding: 30px;
  font-size: 80px;
  color: rgb(0, 0, 0);
  border-radius: 25px;
}

p {
  font-size: 40px;
  color: rgb(0, 0, 0);
  text-align: left;
}

h1 {
  font-size: 40px;
  color: rgb(0, 0, 0);
  text-align: left;
  display: inline-block;
}

li {
  font-size: 40px;
  color: rgb(0, 0, 0);
  list-style: decimal;
  list-style-position: inside;
  text-align: left;
}

img {
  height: 400px;
  border-radius: 25px;
}

.album-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.album-info ol li::marker {
  font-weight: bold;
}

.album-info .texto {
  display: flex;
  align-items: center;
  margin: 20px;
  justify-content: space-between;
}

.album-info .texto .title {
  font-size: 60px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.album-info .texto .info {
  margin-left: 120px;
} 

.album-info img {
  margin-right: 10px;
}

.album-info p {
  text-align: center;
}

.album-info.left-align {
  justify-content: flex-start;
}

.album-info.left-align p {
  text-align: center;
}

@media (max-width: 720px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  body {
    flex-direction: column;
    align-items: center;
  }

  .album-info .texto {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
   p{
    flex-direction: column;
    align-items: center;
  }
}
